@{
    ViewData["Title"] = "Monthly Claim";
}
@model Contract_Monthly_Claim_System.Models2.CreateClaim;

<div class="text-center">
    <h1 class="display-4">Submit Claim</h1>
</div>
<form asp-action="ClaimForm" asp-controller="Home">
    <label>Name</label>
    <input type="text" name="Name" class="form-control" asp-for="Name" placeholder="John"/>

    <label class="mt-4">Surname</label>
    <input type="text" name="Surname" class="form-control" asp-for="Surname" placeholder="Doe"/>

    <label class="mt-4">Hours</label>
    <input type="number" name="Hours" class="form-control" step="0.1" asp-for="Hours" placeholder="0.0"/>

    <label class="mt-4">Hourly Rate</label>
    <input type="number" name="rate" class="form-control" step="0.01" asp-for="Rate" placeholder="0.00"/>

    <label class="mt-4">Additional Notes</label>
    <input type="text" name="notes" class="form-control" asp-for="Notes" placeholder="Additional notes to support claim"/>

    <label class="mt-4">Documentation</label>
    <input type="file" name="Document" class="form-control" id="file" asp-for="DocumentFile" />

    <button type="submit" class="btn btn-primary mt-4">Submit</button>
</form>