@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Claim" class="btn btn-primary">Submit Claim</a>
    <a asp-controller="Home" asp-action="ClaimHub" class="btn btn-secondary">Claim Hub</a>
</div>
